extends ../layout

block content
    h1 Actualizando Bicicleta
    form(action=`/bikes/${bike.id}/update` method='post')
        .form-group
            label(for='color') Color
            input#color.form-control(type='text' name='color' placeholder='Enter bicycle color' value=bike.color)
            small#emailHelp.form-text.text-muted If you&apos;re a guy, do what you can.
        .form-group
            label(for='make') Make
            input#make.form-control(type='text' name='make' placeholder='Type in the manufacturer' value=bike.make)
        .form-group
            label(for='longitude') Longitude
            input#longitude.form-control(type='text' name='longitude' placeholder='Type in the LNG coordinates' value=bike.location[0])
        .form-group
            label(for='latitude') Latitude
            input#latitude.form-control(type='text' name='latitude' placeholder='Type in the LAT coordinates' value=bike.location[1])
        button.btn.btn-primary(type='submit') Actualizar
